body{
background-color: #2C5F8A;
font-family: montserrat;
}

h1{
color: white ;
text-align: center;
}

.imagen1{
width: 100%;
height: 400px;
object-fit: cover;
}

nav ul{ 
color:white;
list-style: none;
display: flex;
justify-content: center;
gap: 30px;
}

nav a{
color: white;
}

nav a:hover{
    color:#FFD54F;
}

p{
color: white;
text-align: center;
}

#Nuestros\ Valores ul{
color: white;
}

h2{
text-align: center;
color: white;
}

h3{
color: white;
text-align: center;
}

.Bloque-valores{
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
}

.imagen2{
width: 550px;
}

.comedor-movil{
display: flex;
align-items: center;
gap: 30px;
}

.imagen3{
width: 550px; 
}

.donaciones{
display: flex;
flex-direction: row-reverse;
align-items: center;
gap: 30px;
}

.imagen4{
width: 550px;   
}

.acompañamiento-social{
display: flex;
align-items: center;
gap: 30px;
}

.imagen5{
width: 550px;
}

.info-programas{
display: block;
width: fit-content;
margin: 30px auto;
}

a{
color: white;  
}

.imagen6{
width: 100%;
height: 350px;
object-fit: cover;   
}

.bloque-historia{
display: flex;
align-items: center;
gap: 30px;
}

.imagen7{
width: 550px; 
}

.formulario{
display: flex;
flex-direction: row-reverse;
align-items: center;
gap: 30px;
}

.imagen8{
width: 550px;   
}

.centros-asistencia{
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
}

.imagen9{
width: 550px;      
}

.imagen10{
width: 550px; 
display: block;
margin: auto;
}

form{
display: flex;
flex-direction: column;
align-items: center;
}

.nombre-apellido{
display: flex;
justify-content: center;
gap: 15px;
}

.genero{
display: flex;
justify-content: center;
gap: 20px;   
}

.boton-enviar{
    margin-top: 30px;
    background-color:#2ecc71;
    color:white;
    padding:12px 25px;
    border-radius:8px;
}


