body{
    background-color: #2C5F8A;
    font-family: montserrat;
}
h1{
    background-color: #2C5F8A;
    color: white;
    text-align: center;
    padding: 15px;
}

img{
    width: 80%;
    height: 300px;
    object-fit: cover;

    display: block;
    margin: auto;
}

nav{
    text-align: center;  
    list-style: none;

}
nav  :hover{
    color: #FFD700;
}


nav li{
    margin: 10px;  
    list-style: none;
}

nav a{
    color: white;
    font-size: 22px;
}

main h2 {
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white;  
}

section ul {
    color: white;
} 

h3{
    color: white;
}

section h3 ul{
text-align: center;
color:white;
list-style: none;
}

section h3 ul :hover{
    color: #FFD700;
}

form{
    text-align: center;
}

a{
    
    color: white;  
}

main {
    text-align: center;
    
}

